# Created by pytest automatically.
.pytest_cache/*
.vscode/*
__pycache__/*
resultreport/*
geckodriver.log
resultreport.zip
resultreport*.zip
.pytest_cache/v/cache/lastfailed
resultreport/report.html
cvelistscanlenv/Lib/__pycache__/_bootlocale.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/_collections_abc.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/abc.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/codecs.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/copyreg.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/enum.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/functools.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/genericpath.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/heapq.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/io.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/keyword.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/locale.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/ntpath.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/operator.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/os.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/re.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/reprlib.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/site.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/sre_compile.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/sre_constants.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/sre_parse.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/stat.cpython-37.pyc
cvelistscanlenv/Lib/__pycache__/types.cpython-37.pyc
cvelistscanlenv/Lib/collections/__pycache__/__init__.cpython-37.pyc
cvelistscanlenv/Lib/encodings/__pycache__/__init__.cpython-37.pyc
cvelistscanlenv/Lib/encodings/__pycache__/aliases.cpython-37.pyc
cvelistscanlenv/Lib/encodings/__pycache__/cp949.cpython-37.pyc
cvelistscanlenv/Lib/encodings/__pycache__/latin_1.cpython-37.pyc
cvelistscanlenv/Lib/encodings/__pycache__/utf_8.cpython-37.pyc
